extends layout

block content
    table.table 
        tr
            td
                h2 All Fords Swap Meet 
                    small.muted Nov. 23-25 2012
                p Three indoor buildings at the Ohio expo center over 1,000 vender spaces will be filled with parts, along with a car carrol hosted by United Ford  Owners Car Club.