doctype
html
    head
        title= title
        link(rel="shortcut icon", href="/img/flywheelsFavicon.png", type="image/x-icon")
        link(rel="icon", href="/img/flywheelsFavicon.png", type="image/x-icon")
        link(rel='stylesheet', href='/styles/jquery-ui-1.9.1.custom.min.css')
        link(href="/themes/pb/bootstrap.css", rel="stylesheet")
        link(href="/themes/pb/responsive.css", rel="stylesheet")
        link(href="/js/google-code-prettify/prettify.css", rel="stylesheet")
        style
            body {
                padding-top: 20px;
                padding-bottom: 40px;
              }

              /* Custom container */
              .container-narrow {
                margin: 0 auto;
                max-width: 1000px;
              }
              .container-narrow > hr {
                margin: 30px 0;
              }

              /* Main marketing message and sign up button */
              .jumbotron {
                margin: 60px 0;
                text-align: center;
              }
              .jumbotron h1 {
                font-size: 72px;
                line-height: 1;
              }
              .jumbotron .btn {
                font-size: 21px;
                padding: 14px 24px;
              }

              /* Supporting marketing content */
              .marketing {
                margin: 60px 0;
              }
              .marketing p + h4 {
                margin-top: 28px;
              }
              h1, h2, h3, h4, h5, h6 {
                color: #4f3324;
              }

        block head
    body
        .container-narrow
            h3(style="margin-bottom: -25px; margin-left: 30px;")
                img(src="/img/logo.gif", alt="Penny Bottom Candles")
            .row
                .span3.offset7
                    ul.nav.nav-pills.pull-right(style="margin-bottom: -25px; margin-top: 0;")
                        li.active
                            a(href="#") Home
                        li
                            a(href="#") Candles
                        li
                            a(href="#") Contact
            hr
            .jumbotron
                h1 Lorem ipsum dolor  
                p.lead Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc porta diam a lectus facilisis vestibulum. Curabitur at tellus leo. Nunc nunc felis, commodo pretium luctus at, porta at leo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nam lorem ante, ullamcorper ut pulvinar non, fermentum ac metus. Proin iaculis venenatis quam, quis.                
            hr
            .row-fluid.marketing
                .span6
                  h4 Handmade
                  p Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.

                  h4 Family Owned/Operated
                  p Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.

                  h4 something
                  p Maecenas sed diam eget risus varius blandit sit amet non magna.
                .span6
                  h4 100% Bees Wax
                  p Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.

                  h4 somthing
                  p Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.

                  h4 something
                  p Maecenas sed diam eget risus varius blandit sit amet non magna.
            block content
            .footer
                p &copy; Penny Bottom Candles 2012
    script(src="/scripts/libs/jquery-1.8.2.min.js")
    script(src="/scripts/libs/jquery-ui-1.9.1.custom.min.js")
    script(src="/scripts/libs/knockout-2.2.0.js")
    script(src="/js/google-code-prettify/prettify.js")
    script(src="/js/bootstrap-transition.js")
    script(src="/js/bootstrap-alert.js")
    script(src="/js/bootstrap-modal.js")
    script(src="/js/bootstrap-dropdown.js")
    script(src="/js/bootstrap-scrollspy.js")
    script(src="/js/bootstrap-tab.js")
    script(src="/js/bootstrap-tooltip.js")
    script(src="/js/bootstrap-popover.js")
    script(src="/js/bootstrap-button.js")
    script(src="/js/bootstrap-collapse.js")
    script(src="/js/bootstrap-carousel.js")
    script(src="/js/bootstrap-typeahead.js")
    script(src="/js/bootstrap-affix.js")
    //script(src="/scripts/viewmodels/layout.js")
    block scripts
    